{% extends "base.html" %}

{% block content %}
    <h2>delete Record</h2>
    <form method="POST">
        {% for tb1fieldNamesNoId in tb1fieldNamesNoIds %}
            <div class="mb-3">
                <label for="{{ tb1fieldNamesNoId }}" class="form-label">{{ tb1fieldNamesNoId.capitalize() }}</label>
                <input type="text" class="form-control" id="{{ tb1fieldNamesNoId }}" name="{{ tb1fieldNamesNoId }}" value="{{ tb1[tb1fieldNamesNoId] }}" required>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-warning">Delete</button>
    </form>
{% endblock %}
